<?xml version="1.0" encoding="UTF-8"?>
<syntax name="context">
    <meta>
        <name>ConTeXt</name>
        <type>script</type>
        <preferred-file-extension>tex</preferred-file-extension>
    </meta>
    
    <detectors>
        <extension priority="1.0">tex</extension>
        <extension priority="1.0">mkiv</extension>
        <extension priority="1.0">lmtx</extension>
    </detectors>
    
    <indentation>
        <increase>
            <expression></expression>
        </increase>
        <decrease>
            <expression></expression>
        </decrease>
    </indentation>
    
    <comments>
        <single>
            <expression>%</expression>
        </single>
    </comments>
    
    <injection>
        <expression>^(context)$</expression>
    </injection>
    
    <tree-sitter language="context">
        <highlights path="highlights.scm" />
        <folds path="folds.scm" />
        <symbols path="symbols.scm" />
        <text-checking path="textChecking.scm" />
    </tree-sitter>
</syntax>
